<%= form_for(@new_issue) do |f| %>
  <% if @new_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_issue.errors.count, "error") %> prohibited this new_issue from being saved:</h2>

      <ul>
      <% @new_issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :no_followers %><br>
    <%= f.number_field :no_followers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
