<!DOCTYPE html>
<html>
<head>
  <title>NewIssues</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, new_issues_path(:rss)) %>
</head>
<body>

<%= yield %>

</body>
</html>
